In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
df = pd.read_csv(r"C:\Users\rishi\Desktop\imdb ratings\IMDb Movies India.csv", encoding='latin-1')
df.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

preprocessing

In [26]:
df.shape

(15509, 10)

In [27]:
df.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [28]:
df = df.drop(["Name","Year","Duration"],axis=1)
df.head()

,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [29]:
df.dropna(subset=["Rating",'Votes'],inplace=True)
df.head()

,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
3,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
5,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
6,"Drama, Romance, War",7.4,"1,086",Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma
8,"Horror, Mystery, Thriller",5.6,326,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia

In [30]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [31]:
columns_to_encode = ["Genre","Director","Actor 1","Actor 2","Actor 3"]
for col in columns_to_encode:
    df[col] = le.fit_transform(df[col])

In [32]:
df.head()

   Genre  Rating  Votes  Director  Actor 1  Actor 2  Actor 3
1    268     7.0      8       811     1782     2814      377
3    207     4.4     35      1749     1589      890     2572
5    177     4.7    827      2005      508       85     2449
6    331     7.4  1,086      2643      931     1388     3029
8    367     5.6    326       174     2520     1461     1205

In [33]:
X = df.drop("Rating",axis = 1)
y = df["Rating"]

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [35]:
len(X_train)

5939

In [36]:
len(X_test)

1980

In [37]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [38]:
X_train_scaled = sc.fit_transform(X_train)

ValueError: could not convert string to float: '7,877'